# 01. Importing libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## FREEING UP MEMORY

In [2]:
#Define path
path = r'C:\Users\Josh Abrams\Desktop\09-2022 Instacart Basket Analysis'

In [3]:
# Import the existing data - NB these data set is just example data sets for 4.6, do use the ones you need to be merged

df_prods_checked = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = None)

In [4]:
df_prods_checked.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [5]:
df_prods_checked.drop(columns = {'Unnamed: 0'}, inplace = True)

In [6]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_prods_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [8]:
df_prods_checked['product_id']=df_prods_checked['product_id'].astype('int32')
df_prods_checked['product_name'] = df_prods_checked['product_name'].astype('str')
df_prods_checked['aisle_id']=df_prods_checked['aisle_id'].astype('int8')
df_prods_checked['deparment_id']=df_prods_checked['department_id'].astype('int8')
df_prods_checked['prices']=df_prods_checked['prices'].astype('int32')

In [9]:
df_prods_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  int32
 5   deparment_id   49672 non-null  int8
dtypes: int32(2), int64(1), int8(2), object(1)
memory usage: 1.2+ MB

# 02. Importing data

In [10]:
#Define path
path = r'C:\Users\Josh Abrams\Desktop\09-2022 Instacart Basket Analysis'

In [11]:
df_ords_prods = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [12]:
df_ords_prods = pd.read_pickle(r'C:\Users\Josh Abrams\Desktop\09-2022 Instacart Basket Analysis\Data\Prepared Data\orders_products_combined.pkl')

In [13]:
df_ords_prods.shape

(32434489, 12)

In [14]:
df_ords_prods.columns

Index(['Unnamed: 0', 'order_id', 'customer_id', 'eval_set', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [15]:
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   customer_id             int64
 3   eval_set                object
 4   order_number            int64
 5   orders_day_of_week      int64
 6   order_hour_of_day       int64
 7   days_since_prior_order  float64
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: category(1), float64(1), int64(9), object(1)
memory usage: 2.9+ GB

In [17]:

df_ords_prods['orders_day_of_week']=df_ords_prods['orders_day_of_week'].astype('int8')
df_ords_prods['order_hour_of_day']=df_ords_prods['order_hour_of_day'].astype('int32')

In [18]:
df_prods_checked = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'))

In [19]:
df_prods_checked= pd.read_csv(r'C:\Users\Josh Abrams\Desktop\09-2022 Instacart Basket Analysis\Data\Prepared Data\products_checked.csv')

In [20]:
df_prods_checked

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

## 03. Merging Data

In [21]:
#Drop _merge
df_ords_prods= df_ords_prods.drop(columns = ['_merge'])

In [22]:
#Merging
df_ords_prods_merged = df_ords_prods.merge(df_prods_checked, on = 'product_id', indicator = True)

In [23]:
#Check merge
df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,customer_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [24]:
df_ords_prods_merged.shape

(32404859, 17)

## 04. Exporting Data

In [25]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))